asgiref==3.8.1
Django==5.2
django-data-browser==4.2.10
django-extensions==4.1
django-model-info==2024.11.5
django-schema-viewer==0.5.3
django-simpleui==2025.5.262
hyperlink==21.0.0
idna==3.10
markdown-it-py==3.0.0
mdurl==0.1.2
networkx==3.4.2
pillow==11.2.1
psycopg2==2.9.10
psycopg2-binary==2.9.10
pydot==4.0.0
Pygments==2.19.1
pyparsing==3.2.3
python-dateutil==2.9.0.post0
rich==14.0.0
ruff==0.11.11
six==1.17.0
sqlparse==0.5.3
tzdata==2025.2
