
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/pretty-checkbox.min.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap" rel="stylesheet">
    <style>
        * {
            font-family: 'Poppins', sans-serif;
        }
        body {
            font-size: 0.95rem;
        }
        h1, h2, h3, h4, h5, h6 {
            font-weight: 600;
        }
        .btn {
            font-weight: 500;
        }
    </style>
    <title>IssacTransport{% block title %}{% endblock %}</title>
</head>
<body>
    {% include 'partials/_navbar.html' %}


    {% block content %}

    {% endblock %}


    {% include 'partials/_footer.html' %}



    <script src="{% static 'js/jquery-3.4.1.slim.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script>
        $(function () {
            $('[data-toggle="popover"]').popover()
        })
        $(".year").text( (new Date).getFullYear() );
    </script>
    
</body>
</html>
