{% extends 'base.html' %}
{% load static %}
{% block title %} | MG Auto{% endblock %}

{% block content %}



<div class="my-content container p-5 my-5 rounded border bg-light">
    <h2 class="text-center">LES PRESTATIONS MG Auto One Garage</h2>
    <hr>
    <p>Des Tarifs Compétitifs</p>
    <p>Une Expertise Polyvalente</p>
    <p>Mécanique de Précision</p>
    <p>Électronique de Haut Niveau</p>
    <p>Carrosserie et Esthétique</p>
    <p>Peinture Personnalisée</p>
    <p>Rapidité et Efficacité</p>
    <p>Engagement Écologique</p>
    
</div>

{% endblock %}