{% extends 'base.html' %}

{% block title %} | Contact / Devis{% endblock %}

{% block content %}

<div class="container my-5">
  <div class="card shadow-lg border-0 rounded-4 bg-light">
    <div class="card-body p-5">
      <h2 class="text-center text-uppercase mb-4 text-warning">
        Écrivez votre message & Demandez votre devis
      </h2>
      <hr class="mb-4">

      {% include 'partials/_alerts.html' %}

      {% if is_added == True %}
        <form method="POST" style="display: none;">
      {% else %}
        <form method="POST" novalidate>
      {% endif %}
      
      {% csrf_token %}

      <div class="row g-3">
        <div class="col-md-6">
          <label for="inputFirstName" class="form-label">Nom</label>
          <input type="text" class="form-control rounded-3" id="inputFirstName" name="fname" required value="{{fname}}">
        </div>

        <div class="col-md-6">
          <label for="inputLastName" class="form-label">Prénom</label>
          <input type="text" class="form-control rounded-3" id="inputLastName" name="lname" required value="{{lname}}">
        </div>

        <div class="col-md-6">
          <label for="inputEmail" class="form-label">Email</label>
          <input type="email" class="form-control rounded-3" id="inputEmail" name="email" placeholder="nom@exemple.com" required value="{{email}}">
        </div>

        <div class="col-md-6">
          <label for="inputObjet" class="form-label">Objet</label>
          <input type="text" class="form-control rounded-3" id="inputObjet" name="objet" required value="{{objet}}">
        </div>

        <div class="col-12">
          <label for="inputMessage" class="form-label">Message</label>
          <textarea class="form-control rounded-3" id="inputMessage" name="message" rows="5" placeholder="Écrivez votre message ici..." required>{{message}}</textarea>
        </div>

        <div class="col-12 mt-3">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="inputTerms" name="terms">
            <label class="form-check-label" for="inputTerms">
              J'accepte les conditions d'utilisation et la  politique de confidentialité</a>
            </label>
          </div>
        </div>

        <div class="col-12 text-center mt-4">
          <button type="submit" name="btnenvoyer" class="btn btn-warning btn-lg px-5">Envoyer</button>
        </div>
      </div>
      </form>
    </div>
  </div>
</div>

{% endblock %}
